* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh ;
    background-color: rgb(255, 228, 196);
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-container{
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    width: 500px;
}

.qr-container h3{
    text-align: center;
    margin-bottom: 10px;
    /* padding: 10px 80px; */

}

#qr-input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    padding: 10px;

}

#qr-button{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #2ecc71;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;

}

#qr-image{
    display: block;
    width: 50%;
    margin: 0 auto;
}